<header>
  <nav class="navbar bg-body-tertiary bg-primary">
    <div class="container-fluid">
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-primary" type="submit">
          <i class="fa-solid fa-filter"></i>
        </button>
      </form>
      <div class="d-flex">
        <button class="btn btn-primary">
          <i class="fa-solid fa-cart-shopping"></i>
        </button>
      </div>
    </div>
  </nav>
</header>
