$width: calc(14px)


.menu
    a
        color: white


.nav-link 
    position: relative

.numberItems
    width: $width
    height: $width
    background-color: red
    border-radius: 50%
    display: flex
    justify-content: center
    position: absolute
    top: calc(8px + 3px)
    right: calc(12px + 10px)


.numberItems
    p
        font-size: 10px
        color: white
