$width: calc(14px)

header
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 56px
    z-index: 21

.menu
    a
        color: white


.nav-link 
    position: relative

.numberItems
    width: $width
    height: $width
    background-color: red
    border-radius: 50%
    display: flex
    justify-content: center
    position: absolute
    top: calc(8px + 3px)
    right: calc(12px + 10px)


.numberItems
    p
        font-size: 10px
        color: white
