$width: calc(35px)
$my-color: #068FFF

.event-header 
    display: flex
    gap: 15px

    .card-title
        font-size: 16px
        font-weight: bolder
        
    .user-photo
        width: $width
        height: $width
        border-radius: 50%

.card-text
    font-size: 13px
    font-style: italic
    color: grey

.list-group 
    li 
        font-size: 13px
        color: grey
        line-height: 15px

.addEventBtn
    width: $width
    height: $width
    background-color: $my-color
    border-radius: 50%
    color: white


