<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="container-fluid" *ngIf="!isLoading">
          <div class="btn city">
            <div class="city-wrapper" *ngFor="let city of cities">
              <img
                src="../../assets/img/uk-flag-round-circle-icon.svg"
                alt="uk-flag"
                class="flag"
              />
              <p>{{ city }}</p>
            </div>
          </div>
          <div class="btn">{{ dates[0] }} - {{ dates[dates.length - 1] }}</div>
        </div>
      </div>
    </div>
  </div>
</header>
<hr *ngIf="!isLoading" />
<section>
  <app-events-list></app-events-list>
</section>
